* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #eef7ee;
}

 /* nav bar  */

.nav-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    padding: 0 40px;
    background-color: #215824;
}

.nav-bar ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-bar a {
    text-decoration: none;
    color: white;
}


/* login logout  */

.auth-buttons {
    display: flex;
    gap: 10px;
}

.auth-buttons button {
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
    background-color: #2e7d32;
    color: white;
    cursor: pointer;
}

.auth-buttons button:hover {
    background-color: gray;
    color: #215824;
    transform: translateY(-2px);
}



/* Logo bar - thani, independent */


.logo img {
    height: 75px;   /* idha maathina navbar affect aagaathu */
    width: auto;
}
/* Logo bar - thani, independent */
.logo-bar {
    background-color:#F9F5E9;;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
    gap: 20px;
   
}
/* js  */

.hamburger {
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .nav-bar ul {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .nav-bar ul.active {
        display: flex;
    }
}


/* search box  */
.search-box {
    display: flex;
    gap:65px;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 15px;
    padding: 5px 10px;
    
    height: 35px;
   
}


.search-box input {
    border: none;
    outline: none;
    padding: 5px;
    background: transparent;
    flex: 1;
}

.search-box button {
    background: transparent !important;
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    box-shadow: none !important;
    cursor: pointer;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    
}

.search-box button i {
    font-size: 16px;
    line-height: 1;
    color: #555;
    
}

/* footer  */

footer {
    background-color: #3e2723;
    padding: 50px 40px 20px;
    color: #e8f5e9;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-col {
    flex: 1;
    min-width: 200px;
}

.footer-col h3 {
    font-size: 22px;
    margin-bottom: 10px;
    color: white;
}

.footer-col h4 {
    font-size: 16px;
    margin-bottom: 15px;
    color: white;
}

.footer-col p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 8px;
}

.footer-col ul {
    list-style: none;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col a {
    color: #e8f5e9;
    text-decoration: none;
    font-size: 14px;
}

.footer-col a:hover {
    color: #a5d6a7;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a {
    font-size: 20px;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid rgba(255,255,255,0.2);
    margin-top: 30px;
    padding-top: 20px;
    font-size: 13px;
}



/* current weather */
.current-weather {
    text-align: center;
    padding: 150px 20px;
    background: linear-gradient(135deg, #e8f5e9, #c8e6c9);
}

.current-weather h2 {
    font-size: 22px;
    color: #33691e;
    margin-bottom: 10px;
}

.weather-icon {
    font-size: 30px;
    margin-bottom: 10px;
}

/* Sun - yellow */
.weather-icon.fa-sun {
    color:  #f9a825;;
}

/* Cloud/Partly cloudy - blue-grey */
.weather-icon.fa-cloud-sun,
.weather-icon.fa-cloud {
    color: #64b5f6;
}

/* Rain - blue */
.weather-icon.fa-cloud-rain {
    color: #1976d2;
}

/* Thunder - purple/dark */
.weather-icon.fa-bolt {
    color: #bea780;
    text-shadow: 0 0 8px rgba(255, 235, 59, 0.6);
}

/* Moon (night) - light blue/grey */
.weather-icon.fa-moon {
    color: #90a4ae;
}



.current-weather h1 {
    font-size: 50px;
    color: #1b5e20;
    margin-bottom: 5px;
}

.current-weather p {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
}

.weather-details {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 15px;
    color: #444;
}

.weather-details i {
    color: #2e7d32;
    margin-right: 5px;
}

/* selection  */
.district-select-box {
    margin-bottom: 15px;
}

.district-select-box select {
    padding: 8px 30px 8px 15px;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    background-color: white;
    color: #1b5e20;
    font-weight: 600;
    appearance: none;              /* default browser arrow hide pannu */
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%231b5e20'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 16px;
}


/* 7-day forecast */
.forecast {
    padding: 50px 40px;
    text-align: center;
}

.forecast h2 {
    font-size: 26px;
    color: #1b5e20;
    margin-bottom: 30px;
}

.forecast-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    
}

.forecast-card {
    background-color: white;
    width: 100px;
    padding: 20px 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    transition: transform 0.3s;
}

.forecast-card:hover {
    transform: translateY(-5px);
}

.forecast-card p:first-child {
    font-weight: 600;
    color: #333;
    margin-bottom: 8px;
}



/* background img  */
.current-weather {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQp_WsaFCa8qBQkbuNzS9L6fXtWML1yPAr4EiQRfrxAow2_1bDfxb5h7Hc&s=10');
    background-size: cover;
    background-position: center;
    color: white;
}

.current-weather h2,
.current-weather h1,
.current-weather p {
    color: white;
}

.weather-details {
    color: white;
}

.weather-details i {
    color: white;
}


/* forecaste timing  */
.hourly-forecast, .sun-times {
    padding: 40px;
    text-align: center;
}

.hourly-forecast h2 {
    font-size: 24px;
    color: #1b5e20;
    margin-bottom: 25px;
}

.hourly-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.hour-card {
    background-color: white;
    width: 90px;
    padding: 15px 8px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.hour-card p:first-child {
    font-weight: 600;
    color: #333;
    margin-bottom: 6px;
}

.hour-card i {
    font-size: 22px;
    color: #2e7d32;
    margin: 6px 0;
}

.hour-card p:last-child {
    font-weight: 600;
    color: #2e7d32;
}

.sun-times {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.sun-card {
    background-color: white;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.sun-card i {
    font-size: 28px;
    color: #f9a825;
    margin-bottom: 8px;
}

.sun-card p {
    color: #666;
    font-size: 14px;
}

.sun-card h3 {
    color: #1b5e20;
    margin-top: 5px;
}

/* rain  */

/* Day/Night backgrounds */
.day-clear {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('https://www.wkbn.com/wp-content/uploads/sites/48/2021/03/clouds-cloudy-sky-spring-summer-fall-winter-weather-generic-8-1.jpg?strip=1');
}
.night-clear {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfMVLxZrnCc2VsxUzv0668u6RmCAfFte-WNF0L227cDyngomivjD4-3rE_&s=10');
}
.day-rainy {
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSo3LIP_AGIStpFxA9KJW-wgqnulhnWIY0EX0hkw1kXfw&s=10');


}
.night-rainy {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('https://i.pinimg.com/videos/thumbnails/originals/64/d5/79/64d579eb2c752d14c7fafab8953fcdb8.0000000.jpg');
}
.current-weather {
    background-size: cover;
    background-position: center;
    color: white;
    position: relative;
    overflow: hidden;
}

/* Rain animation */
.rain {
    display: none;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    /* background-image: repeating-linear-gradient(
        transparent 0%, transparent 96%, rgba(255,255,255,0.5) 100%
    ); */
    background-size: 3px 30px;
    animation: rainFall 0.5s linear infinite;
    pointer-events: none;
}
.rain.active { display: block; }

@keyframes rainFall {
    0% { background-position: 0 0; }
    100% { background-position: 0 30px; }
}

/* Thunder flash */
.thunder-flash {
    animation: flash 1.5s infinite;
}
@keyframes flash {
    0%, 90%, 100% { filter: brightness(1); }
    92% { filter: brightness(2.5); }
    94% { filter: brightness(1); }
}


/* medio querry  */

@media (max-width: 768px) {
    .nav-bar {
        flex-direction: column;
        height: auto;
        padding: 15px 20px;
        gap: 10px;
    }

    .nav-bar ul {
        flex-wrap: wrap;
        justify-content: center;
        gap: 12px;
    }

    .logo-bar {
        flex-direction: column;
        margin-left: 0;
        padding: 15px 20px;
        gap: 12px;
    }

    .search-box, .search-box input {
        width: 100%;
    }

    .language-select select {
        width: 100%;
    }

    .auth-buttons {
        width: 100%;
        justify-content: center;
    }

    .current-weather {
        padding: 80px 20px;
    }

    .current-weather h1 {
        font-size: 36px;
    }

    .weather-icon {
        font-size: 50px;
    }

    .weather-details {
        flex-direction: column;
        gap: 10px;
    }

    .forecast-card {
        width: 80px;
        padding: 15px 8px;
    }

    .hour-card {
        width: 75px;
        padding: 12px 6px;
    }

    .sun-times {
        flex-direction: column;
        gap: 15px;
    }
}

@media (max-width: 480px) {
    .forecast-cards, .hourly-cards {
        gap: 10px;
    }

    .forecast-card, .hour-card {
        width: 65px;
        padding: 10px 5px;
    }

    .current-weather h1 {
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .nav-bar {
        flex-direction: column;
        align-items: flex-end;    /* idha add pannu - ella children-um right-side-ku po */
        height: auto;
        padding: 15px 20px;
        gap: 10px;
    }

    .hamburger {
        align-self: flex-end;     /* hamburger mattum specific-a right-side-ku */
    }

    .nav-bar ul {
        flex-wrap: wrap;
        justify-content: center;
        gap: 12px;
        width: 100%;               /* nav links full width-la center-a irukka */
    }
}
